html {
  min-width: 1040px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin:0;
  padding:0;  
  padding-top: 20px;    
  position: relative;
  tab-size: 2;
  text-align: center;
  display: block;    
    
    
}
header{
  text-align: right;
}
div{
        max-width: 800px;
    }
footer {
    color: #555;
}

a.gist {
    color: #000;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

h2 {
  margin-top: 2em;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}

h2 a {
  color: #ccc;
  left: -20px;
  position: absolute;
  width: 740px;
}

.date {
  color: #aaa;
  margin-left: 1em;
}

footer {
  margin-top: 8em;
}



p {
  line-height: 1.5em;
  width: 800px;
}

blockquote {
  width: 640px;
}

li {
  width: 680px;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
  line-height: normal;
}

textarea {
  font-size: 100%;
}

pre {
  text-align: left;
  border: 1px dashed #aaa;
  background: #fff;  
  margin: 0;
  width: 100%;    
 font-size: 12px;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}
div.container_select{
  height: 300px;
  width: 800px;
}

div.div_json{
  float: left;
  height: 100%;
  width: 74%;
  border:1px dashed #333;    
}

div.div_select{
    width: 24%;
    float: right;
    line-height: 315px; 
    text-align: center;
    background-color: #eee;
    height: 100%; 
}

.gist-readme p{
  text-align: justify;
}


.vertical-displacement {
    height: 100%;
    width: 100%;
    overflow-y: auto;     
    overflow-x: hidden;
    
}

.tools-pre {
    border:1px solid #aaa;;
    width: 96%;
    height: 10%;
    margin: 5px 10px;
}

.tool-buttons {
    float: right;
    border-left: 1px solid #aaa; 
    padding-left: 4px;
    padding-right: 4px;
    margin: 4px 0 4px 0;      
    cursor: pointer;
}
.tools-tittle {
    font-size: 14px;
    float: left;
    width: 40%;
    display: inline;
    height: 100%;
    margin:7px 0 0 10px; 
    font-weight: bold;
}

.gist-readme {
    
}

.clear {
    clear:both; 
}

.container_select pre{
    border: none;
    padding: 10px 20px;
    font-size: 10px;
    
}

.container {
    width: 960px;
    text-align: left;
    border: 0;
    padding: 0;
    margin: 0 auto;
}

.container-pre {
    width: 100%;
    height: 82%;
    background-color: red;
    overflow: hidden;
}

.tool-buttons  .button-copy{
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    background:#fff url("../img/sprites/tools_pre_.png") no-repeat 0 0;
  }

.tool-buttons  .button-copy:hover{
    width: 24px; 
    height: 24px; 
    background:#fff url("../img/sprites/tools_pre_.png") no-repeat 0 -24px;
  }

.tool-buttons  .button-open-new-tab{
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    background:#fff url("../img/sprites/tools_pre_.png") no-repeat -24px 0;
}
.tool-buttons  .button-open-new-tab:hover{
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    background:#fff url("../img/sprites/tools_pre_.png") no-repeat -24px -25px;
}
