html {
  min-width: 1040px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
  tab-size: 2;
  width: 960px;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

h2 {
  margin-top: 2em;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}

h2 a {
  color: #ccc;
  left: -20px;
  position: absolute;
  width: 740px;
}
div{
    margin: 0;
    padding: 0;
    
}
.date {
  color: #aaa;
  margin-left: 1em;
}

footer {
  margin-top: 8em;
}



p {
  line-height: 1.5em;
  width: 800px;
}

blockquote {
  width: 640px;
}

li {
  width: 680px;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
  line-height: normal;
}

textarea {
  font-size: 100%;
}

pre {
  text-align: left;
  border: 1px dashed #aaa;
  background: #fff;
  padding: 0;    
  margin: 0;
  width: 100%;    
 font-size: 12px;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}
div.container_select{
  border: 1px solid #DEDEDE;
  height: 300px;
  width: 800px;
  position: relative;
  background-color: red;
}

div.div_json{
  float: left;
  width: 75%;
  height: 100%;
  display: inline;
  overflow-y: auto;
  overflow-x: hidden;    
}

div.div_select{
      width: 25%;
      height: 100%;
      display: block;
      float: left;
      position: absolute;
    line-height: 100px; 
    margin: 0 auto;
    text-align: center;
    vertical-align: middle            
}

.gist-readme p{
  text-align: justify;
}

